@import 'tailwindcss';

@theme {
  /* GREEN THEME */
  --color-primary: #dad7cd;
  --color-secondary: #b6c1a9;
  --color-accent: #9aa88a;
  --color-dark: #d6dccf;
  /* TEXT COLOR */
  --color-darkOlive: #4a3535;
}

@layer utilities {
  .footer-link {
    @apply underline;
    color: var(--color-darkOlive);
  }
}

@layer base {
  body {
    @apply text-darkOlive;
    /* font-family: var(--font); */
  }
  h1 {
    @apply text-2xl text-center md:text-7xl font-bold leading-snug;
  }

  h2 {
    @apply text-2xl md:text-5xl font-bold leading-snug;
  }

  h3 {
    @apply text-2xl md:text-4xl font-medium leading-snug;
  }

  h5 {
    @apply font-normal text-2xl md:text-[25px];
  }

  p {
    @apply md:text-[18px] font-medium leading-relaxed;
  }
}
