@import 'tailwindcss';

@theme {
  /* --font-sans: var(--font-gopher); */
  /* --color-text-primary: oklch(0.306 0.062 134); */

  /* BLUE THEME */
  /* --color-primary: oklch(97% 0.014 254.604);
  --color-secondary: #b3c8cf;
  --color-accent: #89a8b2;
  --color-dark: #4988c4; */
  /* TEXT COLOR */
  /* --color-darkBlue: oklch(29.3% 0.066 243.157); */

  /* LIGHT PURPLE */
  --color-primary: oklch(96.8% 0.007 247.896);
  --color-secondary: #d3dcde;
  --color-accent: #dfdcd7;
  --color-dark: #577c8e;
  /* TEXT COLOR */
  --color-black: black;
}

@layer utilities {
  .footer-link {
    @apply underline;
  }
}

@layer base {
  body {
    @apply text-black;
    font-family: var(--font-montserrat-alternates);
  }
  h1 {
    @apply text-2xl text-center md:text-[80px] font-medium leading-tight;
  }

  h2 {
    @apply text-2xl md:text-6xl font-medium leading-snug;
  }

  h3 {
    @apply text-2xl md:text-3xl font-medium leading-snug;
  }

  h5 {
    @apply font-normal md:text-[25px];
  }

  p {
    @apply text-base md:text-[18px] font-normal leading-relaxed;
  }
}
